<html>
<head>
  <meta charset='utf-8' />
  <title>mruby/c test report</title>
  <script type='text/javascript' src='jquery-3.1.1.min.js'></script>
  <style>
    h2.test-title { text-decoration: underline; }
    h2.test-title:hover { cursor: pointer; }
    pre.rb_txt, pre.out_txt {
      float: left;
      width: 50%;
      overflow-x: auto;
    }
    div.test-detail { display: none; }
  </style>
</head>
<body>

  <% $tests.each.with_index do |test, i| %>
    <div>
      <h2 class='test-title' data-idx='<%=h i %>'>
        <%=h File.basename(test.out_path) %>
      </h2>
      <div class='test-detail' data-idx='<%=h i %>'>
        <pre class='rb_txt'><%=h test.rb_txt %></pre>
        <pre class='out_txt'><%=h test.out_txt %></pre>
        <br style='clear:both'>
      </div>
    </div>
  <% end %>

  <script type='text/javascript'>
    $(function(){
      $('.test-title').each(function(){
        var idx = $(this).data('idx');
        $(this).click(function() {
          $('.test-detail[data-idx='+idx+']').toggle();
        });
      });
    });
  </script>

</body>
</html>
