<html>
<head>
  <meta charset='utf-8' />
  <title>mruby/c test report</title>
  <script type='text/javascript' src='jquery-3.1.1.min.js'></script>
  <style>
    h2.test-category { text-decoration: underline; }
    h2.test-category:hover { cursor: pointer; }
    pre.console {
      float: left;
      width: 33%;
      overflow-x: auto;
      border: 1px dotted #eee;
    }
    div.test-detail { display: none; }
    .segv { color: #ca0; }
    .ok { color: green; }
    .ng { color: #a00; }
  </style>
</head>
<body>

  <% $tests.each.with_index do |test, i| %>
    <div>
      <h2 class='test-category <%=h test['status'] %>' data-idx='<%=h i %>'>
        <%=h test['category'] %>
      </h2>
      <div class='test-detail' data-idx='<%=h i %>'>
        <% test['cases'].each do |t| %>
          <% if t['title'] %>
            <h3><%=h t['title'] %></h3>
          <% end %>
          <pre class='console rb_txt'><%=h t['rb_txt'] %></pre>
          <pre class='console out_txt'><%=h t['mrubyc_out'] %></pre>
          <pre class='console cruby_txt'><%=h t['cruby_out'] %></pre>
          <br style='clear:both'>
        <% end %>
      </div>
    </div>
  <% end %>

  <script type='text/javascript'>
    $(function(){
      $('.test-category').each(function(){
        var idx = $(this).data('idx');
        $(this).click(function() {
          $('.test-detail[data-idx='+idx+']').toggle();
        });
      });
    });
  </script>

</body>
</html>
